<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <title>Boolflix</title>
  </head>
  <body>

    <!-- APP -->
    <div id="app">

        <!-- SEARCH BAR -->
          <div class="search-bar">
            <header class="container">
              <a href=""><img src="img/netflix-logo.png" alt=""></a>
              <input type="text" v-model="query" @keyup.enter="search" placeholder="Inserisci il titolo di un film">
              <button @click="search">Avvia Ricerca</button>
            </header>
          </div>
        <!-- END SEARCH BAR -->

      <!-- MOVIES RESEARCH -->
      <div class="movies-research-container">

        <!-- SINGLE MOVIE OR TVSHOW -->
        <div v-if="results" class="movie-container container">
          <div class="flex margin movie" v-for="result in results">

            <!-- IMG BOX -->
            <div class="img-box">
              <img v-if="result.poster_path" :src="getPosterSrc(result)" />
              <img v-else src="https://www.altavod.com/assets/images/poster-placeholder.png">
            </div>
            <!-- IMG BOX -->

            <!-- FILM INFO -->
            <div class="film-info">
              <h3 v-if="result.title"><strong>{{ result.title }}</strong></h3>
              <h3 v-if="result.name">{{ result.name }}</h3>
              <span v-if="result.original_title">{{ result.original_title }}</span>
              <span v-if="result.original_name">{{ result.original_name }}</span>

              <div class="img-languages flex">
                <img v-if="availableFlags.includes(result.original_language)"
                     :src="'img/flags/' + result.original_language + '.png'">
                <span v-else>{{ result.original_language }}</span>
              </div>

              <p class="overview" >{{ result.overview }}</p>

              <p>
                <i class="fas fa-star" v-for="index in getVote(result.vote_average)"></i>
                <i class="far fa-star" v-for="index in (5 - getVote(result.vote_average))"></i>
              </p>


            </div>
            <!-- FILM INFO -->

          </div>
        </div>
        <!-- SINGLE MOVIE OR TVSHOW -->

      </div>
      <!-- END MOVIES RESEARCH -->
    </div>
    <!-- END APP -->

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
