<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <title>Boolflix</title>
  </head>
  <body>

    <!-- APP -->
    <div id="app" class="bool-container">

        <!-- SEARCH BAR -->
        <header>
          <div class="search-bar">
            <input type="text" v-model="query" @keyup.enter="search" placeholder="Inserisci il titolo di un film">
            <button @click="search">Avvia Ricerca</button>
          </div>
        </header>
        <!-- END SEARCH BAR -->

      <!-- MOVIES RESEARCH -->
      <div class="movies-research-container">

          <div class="movie" v-for="result in results">
            <img v-if="result.poster_path" :src="getPosterSrc(result)" />
            <img v-else src="https://www.altavod.com/assets/images/poster-placeholder.png">
              <h3 v-if="result.title">{{ result.title }}</h3>
              <h3 v-if="result.name">{{ result.name }}</h3>
              <span v-if="result.original_title">{{ result.original_title }}</span>
              <span v-if="result.original_name">{{ result.original_name }}</span>
              <i class="fas fa-star" v-for="index in getVote(result.vote_average)"></i>
              <i class="far fa-star" v-for="index in (5 - getVote(result.vote_average))"></i>
              <img class="img-languages" v-if="availableFlags.includes(result.original_language)"
                   :src="'img/flags/' + result.original_language + '.png'">
              <span v-else>{{ result.original_language }}</span>
          </div>

      </div>
      <!-- END MOVIES RESEARCH -->
    </div>
    <!-- END APP -->

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
